.recipeapp {
    display: flex;
    flex-direction: column;
    &__heading {
        text-align: center;
        font-size: 2.5rem;
        padding: 1rem;
    

    }
}
.recipeapp__container {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    justify-items: center;
    
    
}