.recipetable {
    table-layout: fixed;
    font-family: 'Lato';
    thead{
        position: sticky;
        
    }
}
th.Name, th.Ingredients, th.Instructuctions, th.Notes {
    width: 20%;
}

th.button1, th.button2 {
    width: 10%;
}
